---
layout: page
title: Blog
---

<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% if post.content contains '<!--more-->' %}
      {{ post.content | split:'<!--more-->' | first }}
    {% else %}
      {{ post.excerpt }}
    {% endif %}
    <a href="{{ post.url }}" class="read-more">Read more →</a>
  </div>
  {% endfor %}
</div>
